.centrer
{
text-align:center
    
}

.right
{
text-align:right
    
}

.centrerimage
{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.cards 
{
    margin:auto; /* Centre la table */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    background-color: #fff;
}
  
.card 
{
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}
  
.card img 
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}






body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-image:url('../images/divers/fondMarbre.jpg');
    margin: 20px ; /* Centrage horizontal + marge 20px verticale */
}

tr:first-child
{
    background-color: coral;
}

/*******/
/*Entête - Bandeau*/
/*******/
header
{
    margin-bottom: 10px;
    border: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    height: 120px;
    overflow: hidden; /* Masque tout contenu qui dépasse la hauteur spécifiée */
}

header img
{
    height: 100%;
    width: 100%;
}

/**************************************/
/* Conteneur principal */
/**************************************/
#container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 600px;
}

/**************************************/
/* Menu */
/**************************************/

nav{
    display: flex;
    flex-direction: column;
    flex-basis:15%;
    box-sizing: border-box; /* Prend en compte les bordures et les marges dans le calcul de la largeur */
    gap:10px;
    border: 3px;
    border-style: solid;
    border-color: grey;
    padding: 20px;
}

nav a:hover
{
    background-color:#0c0;
    color:white;
}

nav a
{
    text-decoration: none;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: #0c0;
    padding: 5px 20px 5px 5px; /* top right bottom left */
    display: flex;
    align-items: center;
}

/**************************************/
/* Bloc Connexion */
/**************************************/

#connexion
{
    border: 3px;
    border-style: solid;
    border-color: gray;
    text-align: center;
}

/**************************************/
/* Bloc News */
/**************************************/

#news
{
    flex:1;
    padding-bottom: 5px;
    border: 3px;
    border-style: solid;
    border-color: gray;
    text-align: center;
}

#news marquee *
{
    display: flex;
    align-items: center;
    text-align: center;
}

#news p
{
    display: flex;
    align-items: center;
    text-align: center;
}

main
{
    background-image: url("..\images\divers\fondPage.png");
    border: 3px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    flex-basis:70%; /* Le reste de l'écran environ (100% - 15% - 15%) */
    box-sizing: border-box; /* Prend en compte les bordures et les marges dans le calcul de la largeur */
    overflow: auto;
}

main h2
{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #009900;
    margin-bottom: 20px;
}

main table {
    margin:auto; /* Centre le tableau */
    border: 4px outset green; /* Bordure du tableau avec effet 3D (outset) */
    border-collapse: collapse; /* Colle les bordures entre elles */
    background-color: #FFF;
 }
 
 main th {
    background-color: #0C0;
    color: white;
    font-size: 1.1em;
    text-align: center;
 }
 
 main td {
    border: 1px solid black;
    padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
 }
 
 main li {
    list-style-image: url("../images/divers/PuceRecyclable.png");
 }

/**************************************/
/* Bloc de droite */
/**************************************/

aside
{
    display: flex;
    flex-direction: column;
    flex:15%;
    box-sizing: border-box; /* Prend en compte les bordures et les marges dans le calcul de la largeur */
}

/**************************************/
/* Pied de page */
/**************************************/

footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 5px;
    height: 50px;
    background-color: #FFF;
    text-decoration: none;
}

footer a
{
    text-decoration: none;
}


/**************************************/
/* Media Queries */
/**************************************/

/* Styles spécifiques pour les écrans plus petits */
@media (max-width: 1000px) {
    #container {
 
    }
 
    nav {
 
    }
 
    aside {
 
     }
 
     #connexion{
   
     }
 
     #news{
   
     }
 
 }